body {
    font-family: "Lato", sans-serif;
}

.table {
    background: #d6ddef;
    text-align: center;
}

.centroTab {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tablaListaAlumno {
    width: 50%;
}

.tituloOscuro {
    background: #676ba4;
    color: white;
}

.tbody {
    height: 315px;
    overflow-y: auto;
    overflow-x: hidden;
}

.thead {
    height: 37px;
    overflow-y: auto;
    overflow-x: hidden;
}

.col-md-8 {
    width: 66.66666667%;
}

#diseñoCamPant {
    width: 80%
}

.tituloDirecto {
    text-align: center;
}

.tamañoFilasPantCam {
    width: 300px;
    height: 200px;
}

#iconoMenu {
    color: white;
}

#editorTexto {
    display: auto;
    justify-content: center;
    align-items: center;
}

.examenPregunta {
    width: 1000px;
    height: 200px;
    display: flex;
}

.botonBorrar {
    margin: 5px;
    background-color: rgb(202, 73, 83);
}

#botonGuardar {
    background-color: #61c1ecc9;
    color: white;
    border-color: rgb(83, 83, 83);
}

#botonPregunta {
    background-color: rgb(194, 192, 196);
    color: white;
    border-color: rgb(83, 83, 83);
}

#preguntas {
    font-weight: bold;
}

#videoPantalla,
#videoFriend {
    border: 1px solid #999;
    width: 98%;
    max-width: 860px;
}

#botonEnviarExamen {
    color: #fff;
    background-color: #b52121;
    border-color: #dc3545;
    align-items: center;
}

#botonGuardarExamen {
    background-color: #64bf88;
}

#botonAñadirPregunta {
    background-color: rgba(226, 169, 110, 1);
    color: white;
    border-color: rgb(83, 83, 83);
}